@charset "UTF-8";

body { font-family: Verdana, Geneva; font-style: normal; font-size: 8pt; color: black; background: white; margin: 0; padding: 0; }
h1 { font-family: Arial, Verdana; font-weight: normal; font-size: 32pt; color: black; background: lightblue; text-align: center; margin: 0; }
h2 { font-family: Arial, Verdana; font-weight: normal; font-size: 16pt; color: black; background: khaki; margin: 0; }
h3 { font-family: Arial, Verdana; text-align: center; font-weight: bold; font-size: 12pt; color: black; border: 2px solid darkblue; border-radius: 10px; }
h4 { font-family: Arial, Verdana; font-weight: normal; font-size: 20pt; color: black; font-weight: bold; background: khaki; margin: 0; }
h5 { font-family: Arial, Verdana; font-weight: normal; font-size: 16pt; color: black; background: lightblue; margin: 0; }

table { margin: 5%; height: 75%; width: 75%; }
td { font-family: Verdana, Geneva; font-weight: bold; font-size: 8pt; color: black; text-align: left; padding: 0.5em 0.5em; }

#boxContainerContainer { background: palegreen; text-align: center; }
#boxContainer { display: inline-block; margin: 0px auto 10px auto; text-align: center; }

.LeftText { float:left; background: navajowhite; text-align: center; font-size: 24pt; width: 25%; height: 100%; } 
.BankImage { float:left; background: lightblue; text-align: center; width: 50%; height: 100%; }
.RightText { float:left; background: navajowhite; text-align: center; font-size: 24pt; width: 25%; height: 100%; }

.LoginFailed { color: red; }

.footer { position: fixed; left: 0; bottom: 0; width: 100%; background-color: lightblue; color: grey; text-align: center; }